<!DOCTYPE html>
<html>
  <head>
    <title>
      Login Screen
    </title>
  </head>
  <body>
    <form action="" method="">
      <p>Name</p>
      <input type="text" name="name" id="name" />
      <p>Password</p>
      <input type="password" name="password" id="password" />
      <p>Email</p>
      <input type="email" name="email" id="email" />
      <p>Please select your prefered language</p>
      <input type="radio" name="language" value="java" id="java" />java
      <input type="radio" name="language" value="spring" id="spring" /> spring
      <br />

      <p>Please select your prefered location</p>
      <input type="checkbox" name="location" value="chennai" id="chennai" />
      chennai
      <input type="checkbox" name="location" value="singapore" id="singapore" />
      singapore
      <br />
      <br />
      <p>Please select your salary Range</p>
      <select name="salary" id="salary">
        <option value="6000">6000</option>
        <option value="8000">8000</option>
      </select>
      <br />
      <br />
      <br />
      <input type="submit" value="Login" />
    </form>
  </body>
</html>
