<!DOCTYPE html>

<head>
        <link rel="stylesheet" href="style.css">


    <title>My Website</title>
</head>
<body>
    <h1 id="top">Top Page Line first.</h1>
    <img src="./images/VPN.png" width="260" alt="vpn image">
  <h3>
      Image of udemy from web
  </h3>
  <a href="https://www.google.com/" target="_blank">google url</a>
  <br>
  
<a href="about.html" target="_blank">about page</a>
<br>
<br><br>
<br>
<a href="https://www.google.com/" target="_blank">google url

<img src="./images/VPN.png" width="260" alt="vpn image">
</a>
<a href="#top">got to top</a>

<ul>
    <li>vivek</li>
    <li>john</li>
    <li><a href="#">home page</a></li>
</ul>
<ol>
    <li>ashwin</li>
    <li>charles
        <ul>
            <li>css</li>
            <li>java</li>
            <li>spring</li>
        </ul>
    </li>
</ol>

<table>
    <tr>
        <th>name</th>
        <th>city</th>
    </tr>
    <tr>
        <td>vivek</td>
        <td>chennai</td>
    </tr>
</table>
</body>
</html>